<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Demo2</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="cont">country</label>
        <select name="country" id="cont" multiple>
            <option value="India">India</option>
            <option value="USA"> USA </option>
            <option value="UK">UK</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>